extends ../layout

block content
    table(border="2")
        caption.title Contact(s) List
        tr
            +header(result.length > 0 ? result[0]._doc : result)

        each contact in result
            tr
                +details(contact._doc)