extends ../layout

block content
    table(border="2")
        caption.title Contact(s) List
        tr
            +header(result.docs[0]._doc)

        each contact in result.docs
            tr
                +details(contact._doc)