doctype html

mixin header(item)
    each key in Object.keys(item).sort()
        if(item.hasOwnProperty(key))
            th.head #{key}

mixin details(item)
    each key in Object.keys(item).sort()
        if(item.hasOwnProperty(key))
            td#data #{Array.isArray(item[key]) ? item[key].join("\n") : item[key]}

html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
